.app-modal {
	width: 550px;
    position: fixed;
    top: 30%; 
    left: 50%;
    margin-top: -100px;
    margin-left: -250px;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    z-index: 11; /* 1px higher than the overlay layer */
    box-shadow: 2px 5px 21px #333;
}

.app-modal-header {
	height: 50px;
	background-color: #0066cc;
	border-radius: 5px 5px 0px 0px;
}

.app-modal-content {
	height: 350px;
}

.app-modal-footer {
	height: 50px;
	background-color: #0066cc;
	border-radius: 0px 0px 5px 5px;
}